<div>
    <h3 class="text-center word-wrap text-white">Seguinos!</h3>
    <ul class="navbar-nav flex-col flex-wrap text-light">
        <li class="nav-item col-6 col-md-auto p-3">
            <i class="bi bi-instagram"></i>
            <small class="d-sd-none ms-2">Instagram</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3">
            <i class="bi bi-twitter"></i>
            <small class="d-sd-none ms-2">Twitter</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3">
            <i class="bi bi-facebook"></i>
            <small class="d-sd-none ms-2">Facebook</small>
        </li>
    </ul>
    
    <h3 class="text-center word-wrap text-white mt-5">Contactanos!</h3>
    <ul class="navbar-nav flex-col flex-wrap text-light">
        <li class="nav-item col-6 col-md-auto p-3">
            <i class="bi bi-whatsapp"></i>
            <small class="d-sd-none ms-2">Whatsapp</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3">
            <i class="bi bi-envelope"></i>
            <small class="d-sd-none ms-2">Email</small>
        </li>
        <li class="nav-item col-6 col-md-auto p-3">
            <i class="bi bi-telephone"></i>
            <small class="d-sd-none ms-2">Teléfono</small>
        </li>
    </ul>
</div>